table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.expandable-row:not(.example-expanded-row):hover {
  background: #d3d3d3;
}

tr.expandable-row:not(.example-expanded-row):active {
  background: #efefef;
}

.expandable-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-diagram {
  min-width: 80px;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}
