<mat-card>
  <div *ngIf="loaded">
    <form #f="ngForm" (ngSubmit)="saveEntry(f)" [formGroup]="group" name="form" novalidate>
      <h2>Trip erstellen</h2>

      <mat-form-field>
        <mat-label>Start</mat-label>
        <mat-select [(value)]="tripDto.startStation" formControlName="start">
          <mat-option *ngFor="let start of info.stations" [value]="start">
            {{start}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Ende</mat-label>
        <mat-select [(value)]="tripDto.endStation" formControlName="end">
          <mat-option *ngFor="let end of info.stations" [value]="end">
            {{end}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field>
        <mat-label>Kapazität</mat-label>
        <mat-select [(value)]="tripDto.capacity" formControlName="capacity">
          <mat-option *ngFor="let cap of info.capacities" [value]="cap">
            {{cap}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-label>
        Abfahrtszeit:<br>
        <input [(ngModel)]="tripDto.time" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" formControlName="time">
        <owl-date-time #dt></owl-date-time>
      </mat-label>
      <br>

      <button [disabled]="!group.valid || !isValid()" mat-button name="submit" type="submit">Speichern</button>
      <button (click)="this.dialog.closeAll()" mat-button>Schliessen</button>
    </form>
  </div>
</mat-card>
