<h2>BusType Liste</h2>
<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort multiTemplateDataRows>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell mat-sort-header> Name</th>
    <td *matCellDef="let element" mat-cell>
      {{element.name}}
    </td>
  </ng-container>

  <!-- Capacity Column -->
  <ng-container matColumnDef="capacity">
    <th *matHeaderCellDef mat-header-cell mat-sort-header> Kapazität</th>
    <td *matCellDef="let element" mat-cell> {{element.capacity}} </td>
  </ng-container>

  <!-- recoveryTime Column -->
  <ng-container matColumnDef="recoveryTime">
    <th *matHeaderCellDef mat-header-cell mat-sort-header> Erholungszeit</th>
    <td *matCellDef="let element" mat-cell> {{element.recoveryTime}} </td>
  </ng-container>

  <!-- maxRange Column -->
  <ng-container matColumnDef="maxRange">
    <th *matHeaderCellDef mat-header-cell mat-sort-header> Reichweite</th>
    <td *matCellDef="let element" mat-cell> {{element.maxRange}} </td>
  </ng-container>


  <!-- distancePerH Column -->
  <ng-container matColumnDef="distancePerH">
    <th *matHeaderCellDef mat-header-cell mat-sort-header> Geschwindigkeit</th>
    <td *matCellDef="let element" mat-cell> {{element.distancePerH}} km/h</td>
  </ng-container>

  <!-- expanding Column-->
  <ng-container matColumnDef="expandedDetail">
    <td *matCellDef="let element" [attr.colspan]="displayedColumns.length" mat-cell>
      <div [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
           class="element-detail">
        <div>
          <bm-bustype-detail [busType]="element"></bm-bustype-detail>
        </div>
      </div>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr (click)="expandedElement = expandedElement === row ? null : row" *matRowDef="let row; columns: displayedColumns;"
      [class.example-expanded-row]="expandedElement === row"
      class="expandable-row"
      mat-row></tr>
  <tr *matRowDef="let row; columns: ['expandedDetail']" class="detail-row" mat-row></tr>
</table>
