<h2>BusType Liste</h2>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort multiTemplateDataRows>
  <!-- Name Column -->
  <ng-container matColumnDef="startLocationName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Start</th>
    <td mat-cell *matCellDef="let element">
      {{element.startLocationName}}
    </td>
  </ng-container>

  <!-- Capacity Column -->
  <ng-container matColumnDef="arrivalLocationName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ende</th>
    <td mat-cell *matCellDef="let element"> {{element.arrivalLocationName}} </td>
  </ng-container>

  <!-- recoveryTime Column -->
  <ng-container matColumnDef="startTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> abfahrtszeit</th>
    <td mat-cell *matCellDef="let element"> {{element.startTime}} </td>
  </ng-container>
  <!-- recoveryTime Column -->
  <ng-container matColumnDef="arrivalTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ankunftszeit </th>
    <td mat-cell *matCellDef="let element"> {{element.arrivalTime}} </td>
  </ng-container>

  <!-- maxRange Column -->
  <ng-container matColumnDef="startTerminal">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Startstation</th>
    <td mat-cell *matCellDef="let element"> {{element.startTerminal}} </td>
  </ng-container>
  <!-- maxRange Column -->
  <ng-container matColumnDef="arrivalTerminal">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ankunftsstation</th>
    <td mat-cell *matCellDef="let element"> {{element.arrivalTerminal}} </td>
  </ng-container>

  <!-- distancePerH Column -->
  <ng-container matColumnDef="busType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Bustype</th>
    <td mat-cell *matCellDef="let element"> {{element.busType}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
