<h2>Fahrtplan</h2>
<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort multiTemplateDataRows>
  <!-- Start Column -->
  <ng-container matColumnDef="startLocationName">
    <th *matHeaderCellDef mat-header-cell mat-sort-header> Start</th>
    <td *matCellDef="let element" mat-cell>
      {{element.startLocationName}}
    </td>
  </ng-container>

  <!-- Ende Column -->
  <ng-container matColumnDef="arrivalLocationName">
    <th *matHeaderCellDef mat-header-cell mat-sort-header> Ende</th>
    <td *matCellDef="let element" mat-cell> {{element.arrivalLocationName}} </td>
  </ng-container>

  <!-- abfahrtszeit Column -->
  <ng-container matColumnDef="startTime">
    <th *matHeaderCellDef mat-header-cell mat-sort-header> abfahrtszeit</th>
    <td *matCellDef="let element" mat-cell> {{element.startTime | date: 'dd.MM.yyyy HH.mm.ss'}} </td>
  </ng-container>
  <!-- ankunftszeit Column -->
  <ng-container matColumnDef="arrivalTime">
    <th *matHeaderCellDef mat-header-cell mat-sort-header> ankunftszeit</th>
    <td *matCellDef="let element" mat-cell> {{element.arrivalTime | date: 'dd.MM.yyyy HH.mm.ss'}} </td>
  </ng-container>

  <!-- Startstation Column -->
  <ng-container matColumnDef="startTerminal">
    <th *matHeaderCellDef mat-header-cell mat-sort-header> Startstation</th>
    <td *matCellDef="let element" mat-cell> {{element.startTerminal}} </td>
  </ng-container>
  <!-- Ankunftsstation Column -->
  <ng-container matColumnDef="arrivalTerminal">
    <th *matHeaderCellDef mat-header-cell mat-sort-header> Ankunftsstation</th>
    <td *matCellDef="let element" mat-cell> {{element.arrivalTerminal}} </td>
  </ng-container>

  <!-- Bustype Column -->
  <ng-container matColumnDef="busType">
    <th *matHeaderCellDef mat-header-cell mat-sort-header> Bustype</th>
    <td *matCellDef="let element" mat-cell> {{element.busType}}</td>
  </ng-container>
  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
