<mat-card>
  <form #f="ngForm" (ngSubmit)="saveEntry(f)" [formGroup]="group" name="form" novalidate>
    <h2>BusType erstellen</h2>
    <mat-form-field>
      <input [(ngModel)]="busType.name" formControlName="name" id="name" matInput placeholder="Name" required>
      <mat-error *ngIf="group.controls.name.invalid  && (group.controls.name.dirty || group.controls.name.touched)">
        {{getTextError(group.controls.name)}}
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input [(ngModel)]="busType.capacity" formControlName="capacity" id="capacity" matInput min="0" placeholder="Kapazität" required
             type="number">
      <mat-error
        *ngIf="group.controls.capacity.invalid && (group.controls.capacity.dirty || group.controls.capacity.touched)">
        {{getNumberError(group.controls.capacity)}}
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input [(ngModel)]="busType.recoveryTime" formControlName="recoveryTime" id="recoveryTime" matInput min="0" placeholder="Erholungszeit"
             required type="number">
      <mat-error
        *ngIf="group.controls.recoveryTime.invalid && (group.controls.recoveryTime.dirty || group.controls.recoveryTime.touched)">
        {{getNumberError(group.controls.recoveryTime)}}
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input [(ngModel)]="busType.maxRange" formControlName="maxRange" id="maxRange" matInput min="0" placeholder="Reichweite" required
             type="number">
      <mat-error
        *ngIf="group.controls.maxRange.invalid && (group.controls.maxRange.dirty || group.controls.maxRange.touched)">
        {{getNumberError(group.controls.maxRange)}}
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input [(ngModel)]="busType.distancePerH" formControlName="distancePerH" id="distancePerH" matInput min="0" placeholder="Geschwindigkeit"
             required type="number">
      <mat-error
        *ngIf="group.controls.distancePerH.invalid && (group.controls.distancePerH.dirty || group.controls.distancePerH.touched)">
        {{getNumberError(group.controls.distancePerH)}}
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="error">
      {{message}}
    </mat-error>
    <p *ngIf="!error">
      {{message}}
    </p>
    <button [disabled]="!group.valid" mat-button name="submit" type="submit">Speichern</button>
    <button (click)="this.dialog.closeAll()" mat-button>Schliessen</button>
  </form>
</mat-card>
