<mat-drawer-container autosize class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <nav>
      <mat-toolbar>
        <mat-toolbar-row>
          <div class="example-sidenav-content">
            <button (click)="drawer.toggle()" mat-button type="button">
              Navigation
            </button>
          </div>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <button mat-button>
            <a routerLink="/home" routerLinkActive="active">Home</a>
          </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <button mat-button>
            <a routerLink="/base" routerLinkActive="active">Stammdaten</a>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
    </nav>
  </mat-drawer>

  <div *ngIf="!drawer.opened" class="sidenav-button">
    <button (click)="drawer.toggle()" mat-button type="button">
      Navigation
    </button>
  </div>
  <router-outlet></router-outlet>
</mat-drawer-container>
