<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <nav>
      <mat-toolbar>
        <mat-toolbar-row>
          <a routerLink="/home" routerLinkActive="active">Home</a>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <a routerLink="/base" routerLinkActive="active">Stammdaten</a>
        </mat-toolbar-row>
      </mat-toolbar>
    </nav>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>
  <router-outlet></router-outlet>
</mat-drawer-container>
