<h2>Bus Liste</h2>
<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table matSort multiTemplateDataRows>
  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell mat-sort-header> Name</th>
    <td *matCellDef="let element" mat-cell>{{element.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="type">
    <th *matHeaderCellDef mat-header-cell mat-sort-header> Type</th>
    <td *matCellDef="let element" mat-cell> {{element.type.name}} </td>
  </ng-container>

  <!-- Station Column -->
  <ng-container matColumnDef="station">
    <th *matHeaderCellDef mat-header-cell mat-sort-header> Station</th>
    <td *matCellDef="let element" mat-cell> {{element.station}} </td>
  </ng-container>

  <!-- expanding Column-->
  <ng-container matColumnDef="expandedDetail">
    <td *matCellDef="let element" [attr.colspan]="displayedColumns.length" mat-cell>
      <div [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
           class="element-detail">
        <div>
          <bm-bus-detail [bus]="element"></bm-bus-detail>
        </div>
      </div>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr (click)="expandedElement = expandedElement === row ? null : row" *matRowDef="let row; columns: displayedColumns;"
      [class.example-expanded-row]="expandedElement === row"
      class="expandable-row"
      mat-row></tr>
  <tr *matRowDef="let row; columns: ['expandedDetail']" class="detail-row" mat-row></tr>
</table>
