<h2>Bus Liste für die Station {{station}}</h2>
<table class="minimalistBlack">
  <tr>
    <th>Bus Name</th>
    <th>Type</th>
    <th>Kapazität</th>
  </tr>
  <tr *ngFor="let bus of buses">
      <td>{{bus.name}}</td>
      <td>{{bus.type.name}}</td>
      <td>{{bus.type.capacity}}</td>
  </tr>
</table>

<form name="buslistForm" novalidate (ngSubmit)="saveEntry()" #buslistForm="ngForm">
  <p>
    <label for="title">Name:</label>
    <input [formControl]="name" id="title" type="text" name="title" [(ngModel)]="currentBus.name"/>
  </p>
  <p>
    <label for="content">Typename:</label>
    <input [formControl]="typename" id="content" type="text" name="content" [(ngModel)]="currentBus.type.name" required/>
  </p>
  <button type="submit" name="submit" [disabled]="!buslistForm.valid">Speichern</button>
</form>
<p>
  {{error}}
</p>

