<div class="container"><h2>Bus Liste für die Station {{station}}</h2></div>

<table mat-table [dataSource]="buses" class="mat-elevation-z8" #busTable>
  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element"> {{element.type.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="capacity">
    <th mat-header-cell *matHeaderCellDef> Kapazität </th>
    <td mat-cell *matCellDef="let element"> {{element.type.capacity}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="container">
<form name="buslistForm" novalidate (ngSubmit)="saveEntry()" #buslistForm="ngForm">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Bus Name" [formControl]="name" id="title" type="text" name="title" [(ngModel)]="currentBus.name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Type Name" [formControl]="typename" id="content" type="text" name="content" [(ngModel)]="currentBus.type.name" required></textarea>
  </mat-form-field>
  <button mat-button type="submit" name="submit" [disabled]="!buslistForm.valid">Speichern</button>
</form>
</div>
<p>
  {{error}}
</p>

